#APP METADATA
APP_NAME = "Polaris Terminal"
APP_VERSION = "0.1.0"
DEBUG = true

#DATABASE
DATABASE_URL = "postgresql+asyncpg://postgres:password@localhost:5432/polaris_terminal"
DATABSE_ECHO = false
DATABASE_POOLING = true